<!-- <p>about works!</p> -->
<div class="content">
  <h2>Welcome to My Portfolio</h2>
  <p>Discover the art of photography through my lens. From capturing special moments to creating timeless memories, my portfolio showcases a range of photographic styles and services tailored to meet your needs.</p>
  <img src="assets/images/image-photographer-4.jpg" alt="Example Photo">
  <p>Education:</p>
  <ul>
    <li>New York Institute of Photography</li>
    <li>ArtCenter College of Design, Pasadena</li>
    <li>International Center of Photography, New York</li>
    <li>Royal College of Art, London</li>
  </ul>
</div>
