<div class="content"> 
  <h2>Services</h2>
  <ul>
    <li><a href="/services#portrait">Portrait Photography</a></li>
    <li><a href="/services#wedding">Wedding Photography</a></li>
    <li><a href="/services#event">Event Photography</a></li>
    <li><a href="/services#landscape">Landscape Photography</a></li>
    <li><a href="/services#product">Product Photography</a></li>
  </ul>

<div class="portrait-photography">
  <h3 id="portrait">Portrait Photography</h3>
  <p>Welcome to the unique world of portrait photography! Together we will create unique images, capture your personality and emotions in every frame. Trust me with your face and I will turn it into a story told through the lens of my camera.</p>
  <img src="assets/images/image-photographer-6.jpg" alt="Photo 6">
</div>

<div class="wedding-photography">
  <h3 id="wedding">Wedding Photography</h3>
  <p>Your wedding day is a special moment that deserves to be captured with gorgeous photographs. I suggest you leave it in my hands to preserve your most tender moments, exciting emotions and joyful smiles.</p>
  <img src="assets/images/image-photographer-7.jpg" alt="Photo 7">
</div>

<div class="event-photography">
  <h3 id="event">Event Photography</h3>
  <p>Your event is a unique moment full of emotion, excitement and joy. I am ready to capture every moment of your special day, be it a corporate event, birthday, anniversary or any other occasion. </p>
  <img src="assets/images/image-photographer-8.jpg" alt="Photo 8">
</div>

<div class="landscape-photography">
  <h3 id="landscape">Landscape Photography</h3>
  <p>Landscapes are a window into the beauty of our world, which I strive to capture through the lens of my camera.</p>
  <img src="assets/images/image-photographer-9.jpg" alt="Photo 9">
</div>

<div class="product-photography">
  <h3 id="product">Product Photography</h3>
  <p>Products are not just objects, they are stories that come to life in photographs. I use light, composition and creativity to capture the essence of the product and emphasise its unique features.</p>
  <img src="assets/images/image-photographer-10.jpg" alt="Photo 10">
</div>
</div>
